.body-container{
}

.paper-module{
  margin-top: 2%;
  height: 295px;
  width: 1000px;
  border-radius:15;
  background-color: yellow;
}
.form-container{
  display: flex;
  justify-content: center;
}

.result-container{
  display: flex;
  justify-content: center;
}