.footer-placeholder{
    background-color: transparent;
    border-top-style: solid;
    border-top-color: #00acc1;
    border-top-width: 2px;
    position: fixed;
    padding: 10px 10px 0px 10px;
    left:0;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
    height: 40px;
}

.footer-column-1{
    float: left;
    width: 50%;
    top: 50%;
    display: flex;
    justify-content: center;
    
}
.footer-column-2{
    float: right;
    width: 50%;
    top: 50%;
    display: flex;
    justify-content: center;

}

.footer-row:after{
    content: "";
    display: table;
    clear: both;
}

.image-holder{
    padding-right: 8px;
}